<div class="container py-4">
    <h1>Bienvenido Usuario</h1>
    <p>¡Gracias por utilizar nuestra aplicación!</p>

    <!-- Elementos adicionales -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Aquí puedes ver y editar tu perfil.</p>
                    <button href="#" class="btn btn-primary" disabled>Ir a perfil</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Configuración</h5>
                    <p class="card-text">Administra tus configuraciones aquí.</p>
                    <button href="#" class="btn btn-primary" disabled>Ir a configuración</button>
                </div>
            </div>
        </div>
    </div>
</div>